@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,800;1,500;1,700&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
body{
  height: 100vh;
}

.box{



    width: 350px;
    height: 680px;
    /* border: 1px black solid; */
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.box2{


    width: 353px;
    height: 310px;
    background-image: url(assets/Rectangle\ Copy.svg);
    /* box-shadow: 0px 0px 10px 10px; */
    /* border: 2px solid black; */
    border-radius: 0px 0px 32px 32px;
    /* margin: 0px 2px; */
}

.Result{
    width: 94px;
    height: 23px;
    font-family: 'Hanken Grotesk';
    font-size: 17px;
    font-weight: 700px;
    color: white;
    opacity: 50%;
    position: relative;
    top: 24px;
    left: 129px;
    line-height: 23.45px;

}

.round2{
 width: 110px;
 height: 110px;
margin:49px 117px ;


}


.number{
position: relative;
top: -147px;
left: 145px;
color: white;
font-family: Hanken Grotesk;
font-size: 50px;
font-weight: 800px;


}
.of{

    font-family: Hanken Grotesk;
    color: lightblue;
    opacity: 55%;
    width: 46px;
    height: 21px;
    /* font-weight: 700px; */
    font-size: 12px;
    position: relative;
    top: -149px;
    left: 154px;



}

.Gr{
    font-family: Hanken Grotesk;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 63px;
    height: 31px;
    position: relative;
    top: -125px;
    left: 143px;
    


}



.text{
width: 260px;
height: 42px;
font-family: Hanken Grotesk;
font-weight: 500;
font-size: 14px;
color: white;
position: relative;
    top: -120px;
    left: 50px;
    color: lightblue;
    text-align: center;
    




}

.Summary{
    
    width: 78px;
    height: 23px;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 700;
   color:rgba(48, 59, 89, 1);
   margin: -415px 265px 406px 32px;
}

.reaction{
   margin: -10px 19px;
   /* border: 1px solid black; */
   border-radius: 13px;
   



}

.flash{



    position: relative;
    top: -33px;
    left: 35px;
    width: 20px;
    height: 20px;
    color: rgba(255, 85, 85, 1);
}


.REA{
color: rgba(255, 85, 85, 1);
/* font-family: Hanken Grotesk; */
font-size: 16px;
position: relative;
    top: -57px;
    left: 70px;



}
.hundred{
width: 38px;
height: 21px;
font-family: Hanken Grotesk;
    color: rgba(48, 59, 89, 1);
    position: relative;
    top: -100px;
    left: 285px;
    font-family: Hanken Grotesk;
    font-size: 16px;
    opacity: 50%;
   



}



.numberrea{
    width: 18px;
    height: 21px;
    font-size: 16px;
    font-family: Hanken Grotesk;
    color: rgba(48, 59, 89, 1);
    position: relative;
    top: -77px;
    left: 264px;


}


.src{
 position: relative;
 top: -59px;
 left: 17px;


}



.brain{


    position: relative;
    top: -100px;
    left: 35px;
    width: 20px;
    height: 20px;
    color: rgba(255, 178, 30, 1);
}


.memo{

    font-size: 16px;
    position: relative;
        top: -125px;
        left: 70px;
        color:rgba(255, 178, 30, 1);


}


.number1{

    width: 18px;
    height: 21px;
    font-size: 16px;
    font-family: Hanken Grotesk;
    color: rgba(48, 59, 89, 1);
    position: relative;
    top: -140px;
    left: 264px;

}

.hundred1{


    width: 38px;
height: 21px;
font-family: Hanken Grotesk;
    color: rgba(48, 59, 89, 1);
    position: relative;
    top: -162px;
    left: 285px;
    font-family: Hanken Grotesk;
    font-size: 16px;
    opacity: 50%;
    gap: 1px;
}



.ver{

    position: relative;
    top: -127px;
    left: 17px;

}

.chat{

    position: relative;
    top: -170px;
    left: 34px;

}

.verbal{


    font-size: 16px;
    position: relative;
    top: -195px;
    left: 70px;
     font-family: Hanken Grotesk;
     color: rgba(0, 187, 143, 1);
     font-weight: 500;

}


.idk{
 height: 21px;
 width: 18px;
font-family: Hanken Grotesk;
font-size: 16px;
color: rgba(48, 59, 89, 1);
position: relative;
top: -215px;
left: 264px;

}

.idk2{
    height: 21px;
    width: 38px;
    font-family: Hanken Grotesk;
    font-size: 16px;
    color: rgba(48, 59, 89, 1);
    opacity: 50%;
    position: relative;
    top: -237px;
    left: 285px;


}

.box22{
    position: relative;
    top: 310px;   
    left: 17px;

}


.eye{

   position: relative;
   left: 30px;
   top: 257px;
    /* width: 20px;
    height: 20px;
    color: rgba(17, 37, 214, 1); */


}
.vis{
    width: 44px;
    height: 21px;
    font-family: Hanken Grotesk;
    font-size: 16px;
    color: rgba(17, 37, 214, 1);
    position: relative;
    top: 234px;
    left: 70px;
    font-weight: 500;
}


.ice{

    position: relative;
    top: 214px;
    left: 264px;
  height: 21px;
  width: 18px;
  font-family: Hanken Grotesk;
  font-size: 16px;
  color:rgba(48, 59, 89, 1);
}


.table{

width: 38px;
height: 21px;
font-family: Hanken Grotesk;
font-size: 16px;
color:rgba(48, 59, 89, 1);
position: relative;
top: 193px;
left: 285px;
opacity: 50%;



}

button{

    color: white;
    width: 100%; 
    height: 56px;
    border-radius: 28px;
    background-color: rgba(48, 59, 89, 1);

    
}
/* button:hover {
    background-color: green;
} */


.con{


    color: white;
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-weight: 700;
   
}
